@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.league-script-regular {
    font-family: "League Script", cursive;
    font-weight: 400;
    font-style: normal;
}



/* shared style  */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.orange-primary {
    color: rgb(230, 83, 60);
}

/* dark color */
.dark-1 {
    color: rgb(34, 34, 34);
}

.btn-primary {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 1.12em;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background: rgb(211, 70, 0);
}

.btn-secondary {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: black;
    color: white;
    font-size: 1.12em;
    font-weight: 600;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
}

.btn-secondary:hover {
    background: rgb(43, 43, 43);
}

/* common for all section -------- */
.section-title {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}

.section-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


/* header style */
header {
    background: linear-gradient(rgb(17, 17, 17), rgba(255, 255, 255, 0.103), rgb(7, 7, 7));
}

.header {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

/* ----------navbar--------- */
.web-title {
    font-size: 2.25em;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-brand {
    display: flex;
    gap: 16px;
}

.brand {
    font-size: 2.8em;
    font-weight: 800;
    text-align: center;
}

.nav-options {
    display: flex;
    gap: 2.8rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.12em;
    color: white;
}

.active-nav {
    font-weight: 600;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}

.navbar i {
    display: none;
}

/* header banner style */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner-title {
    font-size: 4.87rem;
    font-weight: 900;
    text-align: left;
}

#shape {
    font-family: "League Script", cursive;
    font-weight: 400;
    font-size: 6rem;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    width: 600px;
}

.banner-button {
    display: flex;
    gap: 15px;
}

.banner-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* card 350+ */
#circle {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-card {
    position: absolute;
    width: 206px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    left: -113px;
    top: 421px;
}

.banner-card h4 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
}

.banner-card p {
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
    text-align: left;
}

/* card 500+  */
.banner-card2 {
    position: absolute;
    width: 193px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    left: 220px;
    top: 130px;
}

.banner-card2 h4 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
}

.banner-card2 p {
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
    text-align: left;
}

/* section----------- Change Your Habits -------------------------  */

.habits {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-bottom: 60px;
}

.havit-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habit-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.havit-options img {
    border: 1px solid white;
    border-radius: 50%;
    margin-bottom: 30px;
}

.havit-options h5 {
    font-size: 1.12rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
}

.havit-options p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: center;
}

/* ---section------------- Run an Extra Mile Easily -- */
.run {
    width: 80%;
    margin: 50px auto;
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
}

.run-contrainer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 50px;
}

.run-text {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.run img {
    width: 400px;
    height: 312px;
    border-radius: 18px;

}

/* section ---------Trainings and Exercises  */
.exercises {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.exercises-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* -------images------- */
.exercises-type1 {
    grid-area: type1;
}

.exercises-type2 {
    grid-area: type2;
}

.exercises-type3 {
    grid-area: type3;
}

.exercises-type4 {
    grid-area: type4;
}

.exercises-type5 {
    grid-area: type5;
}

.exercises-type6 {
    grid-area: type6;
}

.exercises-types {
    margin-top: 60px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas:
        "type1 type1 type2 type2 type2 type2 type3 type3"
        "type4 type4 type4 type5 type5 type6 type6 type6"
    ;
}

.exercises-type1,
.exercises-type2,
.exercises-type3,
.exercises-type4,
.exercises-type5,
.exercises-type6 {
    height: 250px;
    display: flex;
}

.exercises-type1 h5,
.exercises-type2 h5,
.exercises-type3 h5,
.exercises-type4 h5,
.exercises-type5 h5,
.exercises-type6 h5 {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 40px;
}

.exercises-type1 {
    background-image: linear-gradient(rgba(6, 255, 210, 0.4), rgba(6, 255, 210, 0.5)), url("../images/exercise1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column-reverse;
}


.exercises-type2 {
    background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url("../images/exercise2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.exercises-type3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/exercise3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column-reverse;
}

.exercises-type4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/exercise4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: row-reverse;
}

.exercises-type5 {
    background-image: linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url("../images/exercise5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column-reverse;
}

.exercises-type6 {
    background-image: linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url("../images/exercise6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column-reverse;
}



/* -------section----------BMI Calculator-------- */
.bmi {
    padding: 50px 0;
}

.bmi-text {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 80px;
}

.bmi-chart-calculator-container-background {
    background-color: rgb(34, 34, 34);
    padding: 55px 0;
}

.bmi-chart-calculator-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.chart-heading,
.calculator-heading {
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}

/* bmi chart  */
.bmi-chart {
    margin: 52px 0;
}

.bmi-chart-container th {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.bmi-chart-container td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}

.bmi-chart-container table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 15px 25px 15px 18px;
}

/* Calculate your BMI  */
.bmi-calculator-container {
    width: 600px;
}

.calculator-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 14px;
}

/* .calculator-inputs input {
    width: calc(100% - 30px);
} */


.bmi-input {
    width: calc(100% - 30px);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    border: none;
    padding: 15px;
}

.calculator-inputs select {
    width: 100%;
}

.bmi-input option {
    color: black;
}

.calculator-inputs input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.bmi-input1 {
    grid-area: height;
}

.bmi-input2 {
    grid-area: weightt;
}

.bmi-input3 {
    grid-area: age;
}

.bmi-input4 {
    grid-area: sex;
}

.bmi-input5 {
    grid-area: activity;
}

.calculator-inputs {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-areas:
        "height weightt"
        "age sex"
        "activity activity"
    ;
    gap: 12px;
    margin: 35px auto;

}


/* -------section---------choose your plan------ */
.plan {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.plan-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-bottom: 50px;
}

.plan-time {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 2px solid rgb(230, 83, 60);
    border-radius: 42px;
}

#btn-monthly {
    width: 50%;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 1.12em;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
}

#btn-annual {
    width: 50%;
    height: 54px;
    border-radius: 42px;
    background: black;
    color: white;
    font-size: 1.12em;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
}

.plan-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.plan-card {
    /* width: calc(25% - 100px); */
    width: 20%;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px 50px;
    transition-duration: 0.1s;
}

/* card hover code */
.plan-card:hover {
    background-color: rgb(230, 83, 60);
    transform: scale(105%);
}

.plan-card:hover .btn-choose-plan {
    background: white;
    color: rgb(230, 83, 60);
}

.plan-card:hover .plan-offers {
    color: white;
}

.plan-card:hover .per-month {
    color: rgba(255, 255, 255, 0.8);
}

/* card hover code end */
.plan-name {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.per-month {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.15rem;
    font-weight: 500;
    text-align: center;
}

#plan-price {
    color: white;
    font-size: 3rem;
}

.plan-card ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.plan-card ul li i {
    font-size: 1.3rem;
    padding-right: 5px;
}

.plan-offers {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    list-style: none;

}

.btn-choose-plan {
    width: 170px;
    height: 54px;
    border-radius: 42px;
    background: rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0.5);
    ;
    font-size: 1.12em;
    font-weight: 600;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}


/* -------section----------Meet Our Team------ */
.team {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.team-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
}

.trainer-container {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.trainer-name {
    font-size: 1.25rem;
    font-weight: 900;
    text-align: left;
}

.trainer-position {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: left;
}

.trainer1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer1.png");
}

.trainer2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer2.png");
}

.trainer3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer3.png");
}

.trainer4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer4.png");
}

.trainer5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer5.png");
}

.trainer6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer6.png");
}

.trainer1,
.trainer2,
.trainer3,
.trainer4,
.trainer5,
.trainer6 {
    /* background image */
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    /* name text  */
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
}


/* -------------footer------------ */

footer {
    background-color: rgb(34, 34, 34);
    margin-top: 50px;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-top {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

/* ...................footer top left.................  */
.footer-top-left {
    width: 50%;
}

.footer-top-left h2 {
    color: rgb(230, 83, 60);
    font-size: 4.37rem;
    font-weight: 800;
    text-align: left;
    font-style: italic;
    margin-bottom: 20px;
}

.footer-top-left p {
    width: 75%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* ...................footer top right.................  */
.footer-top-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-top-right-item1 h4,
.footer-top-right-item2 h4 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 40px;
}

.footer-top-right-item1 ul li,
.footer-top-right-item2 ul li {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    list-style: none;

}

.footer-top-right-item1 ul,
.footer-top-right-item2 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-bottom hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 36px 0;
}





/* responsive and media query  */
/* mobile  */
@media screen and (max-width:576px) {

    /* header */
    .header {
        width: 90%;
    }

    .navbar {
        margin-bottom: 50px;
    }

    .nav-options {
        display: none;
    }

    .navbar i {
        display: block;
        font-size: 1.5rem;
    }

    /* banner */
    .banner {
        flex-direction: column;
    }

    .banner-content,
    .banner-image-container {
        width: 100%;
        margin-bottom: 50px;
    }

    .banner-title {
        font-size: 2.2rem;
    }

    #shape {
        font-size: 3rem;
    }

    .btn-primary,
    .btn-secondary {
        width: 169px;
    }

    #btn-club {
        display: none;
    }

    .banner-description {
        width: 100%;
    }

    /* image  */
    /* card 350+ */
    #circle {
        width: 30px;
        height: 30px;
    }

    .banner-card {
        width: 155px;
        height: 72px;
        left: 13px;
        top: 370px;
    }

    .banner-card h4 {
        font-size: 1.12rem;
    }

    .banner-card p {
        font-size: 0.8rem;
    }

    /* card 500+ */
    .banner-card2 {
        width: 145px;
        height: 74px;
        top: 170px;
    }

    .banner-card2 h4 {
        font-size: 1.12rem;
    }

    .banner-card2 p {
        font-size: 0.8rem;
    }

    /* havits section ------------ */
    .text-container .section-description {
        text-align: center;
    }

    .section-title {
        font-size: 2rem;
    }

    .section-description {
        font-size: 0.87rem;
    }

    .habit-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* runnnnnnnnnn */
    .run {
        width: 90%;
    }

    .run-contrainer {
        flex-direction: column;
        padding: 25px;
        gap: 30px;
    }

    .run img,
    .run-text {
        width: 100%;
        height: 100%;
    }

    .run-text .section-title {
        margin-bottom: 15px;
    }

    .run-text .section-description {
        margin-bottom: 25px;
    }

    .run-text button {
        width: 100%;
    }

    /* Trainings and Exercises */
    .exercises {
        width: 85%;
    }

    .exercises-types {
        grid-template-areas:
            "type1 type1 type2 type2 type2 "
            "type4 type4 type4 type5 type5 "
        ;
    }

    .exercises-type3 {
        display: none;
    }

    .exercises-type6 {
        display: none;
    }

    .exercises-type1,
    .exercises-type2,
    .exercises-type3,
    .exercises-type4,
    .exercises-type5,
    .exercises-type6 {
        height: 150px;
    }

    .exercises-type1 h5,
    .exercises-type2 h5,
    .exercises-type3 h5,
    .exercises-type4 h5,
    .exercises-type5 h5,
    .exercises-type6 h5 {
        padding: 20px;
    }

    .exercises-type4 {
        flex-direction: column-reverse;
    }



    /* section ---------------- BMI Calculator */

    .bmi-text {
        width: 90%;
    }

    .bmi-chart-calculator-container {
        flex-direction: column;
        width: 90%;
    }

    /* bmi chart  */
    .bmi-chart {
        margin: 24px 0;
    }

    .chart-heading,
    .calculator-heading {
        font-size: 1.2rem;
    }


    /* Calculate your BMI  */
    .bmi-calculator-container {
        width: 100%;
    }

    .bmi-input {
        font-size: 0.75rem;

    }

    /* -------section---------choose your plan------ */

    .plan {
        width: 90%;
    }

    .plan-time {
        width: 90%;
        margin-bottom: 0;
    }

    .plan-card-container {
        flex-direction: column;

    }

    .plan-card {
        width: calc(90% - 100px);
    }


    /* -------section----------Meet Our Team------ */

    .team {
        width: 90%;
    }

    .team-text {
        width: 80%;
        margin: 0 auto 50px;
    }

    .team-text .section-description {
        text-align: center;
    }

    .trainer-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .trainer1,
    .trainer2,
    .trainer3,
    .trainer4,
    .trainer5,
    .trainer6 {
        /* background image */
        height: 270px;
    }


    /* footerrrrrrrrrrrr */

    .footer-container {
        width: 90%;
    }

    .footer-top,
    .footer-top-right {
        flex-direction: column;
        gap: 30px;
    }

    .footer-top-left,
    .footer-top-right {
        width: 100%;
    }

    .footer-top-left p {
        width: 90%;
    }

    .footer-top-right-item1 h4,
    .footer-top-right-item2 h4 {
        margin-bottom: 25px;
    }

    .footer-top-right-item1 ul li,
    .footer-top-right-item2 ul li {
        font-size: 1.2rem;

    }



}

/* tab or medium device  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* header */
    .header {
        width: 90%;
    }

    .navbar {
        margin-bottom: 50px;
    }

    /* banner */
    .banner {
        flex-direction: column;
    }

    .banner-content,
    .banner-image-container {
        /* width: 100%; */
        margin-bottom: 50px;
    }

    /* havits section ------------ */
    .habit-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* runnnnnnnnnn */
    .run-contrainer {
        /* flex-direction: column; */
        padding: 25px;
        gap: 30px;
    }
    .run img,
    .run-text {
        width: 100%;
        /* height: 100%; */
    }
    .run-text .section-title {
        margin-bottom: 15px;
    }

    .run-text .section-description {
        margin-bottom: 25px;
    }

    /* section ---------------- BMI Calculator */

    .bmi-text {
        width: 90%;
    }

    .bmi-chart-calculator-container {
        flex-direction: column;
        width: 90%;
    }

    /* -------section---------choose your plan------ */

    .plan {
        width: 90%;
    }

    .plan-time {
        width: 90%;
        margin-bottom: 0;
    }

    .plan-card {
        width: calc(90% - 100px);
    }

    .plan-card {
        width: 30%;
        gap: 30px;
        padding: 20px 30px;
    }
    .plan-name {
        font-size: 1rem;
    }

    .per-month {
        font-size: 1rem;
    }
    #plan-price {
        font-size: 2rem;
    }

    .plan-card-container {
        gap: 20px;
    }

    
    .footer-top {
        flex-direction: column;
        gap: 30px;
    }
    .footer-top-right {
        width: 80%;
        gap: 50px;
    }


}